<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue-2.5.16.js"></script>
 
</head>
<body>
   <div id="app">
    <ul>
      <!-- <li v-for="(item,i) in arr">索引:{{i}}---名字:{{item}}</li> -->
      <li v-for="(item,i) in objArr" :key="item.id">索引:{{i}}---id:{{item.id}}--名字:{{item.name}}</li>
      <!-- <li v-for="(val,key) in user">{{key}}---{{val}}</li> -->
    </ul>
   </div>
   <script>
     const vm=new Vue({
       el:"#app",
       data:{
         arr:['张三','李四','王五','赵六'],
         
          objArr:[
            {id:1,name:'嬴政',gender:'男' },
            {id:2,name:'李斯',gender:'男' },
            {id:3,name:'赵姬',gender:'女' }
          ],
          user:{
            name:"泥巴巴",
            age:22,
            gender:'男',
            address:'河北'
          }
       },
       methods:{ }
     })
   </script>
</body>
</html>